{% extends "base.html" %}

{% block content %}

<h1>Employees</h1>

<a href="/employees/add" class="btn btn-primary mb-3">
    Add Employee
</a>

<hr>

{% for employee in employees %}

<div>

    <h3>{{ employee.name }}</h3>

    <p>Position: {{ employee.position }}</p>

    <p>Email: {{ employee.email }}</p>

    <a href="/employees/edit/{{ employee.id }}" class="btn btn-warning btn-sm">
    Edit
    </a>

    <a href="/employees/delete/{{ employee.id }}" class="btn btn-danger btn-sm">
    Delete
    </a>


</div>

<hr>

{% endfor %}

{% endblock %}