{% extends "base.html" %}

{% block content %}

<h1>
    {% if employee %}
        Edit Employee
    {% else %}
        Add Employee
    {% endif %}
</h1>

<form method="POST">

    <input
        type="text"
        name="name"
        placeholder="Employee Name"
        value="{{ employee.name if employee else '' }}"
        required
    >

    <br><br>

    <input
        type="text"
        name="position"
        placeholder="Position"
        value="{{ employee.position if employee else '' }}"
        required
    >

    <br><br>

    <input
        type="email"
        name="email"
        placeholder="Email"
        value="{{ employee.email if employee else '' }}"
    >

    <br><br>

    <button type="submit">
        Save Employee
    </button>

</form>

{% endblock %}